* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;
  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
  --indigo: #6357e0;
  --indigo3: #ebe9fb;
}


.ul_class {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  background-color: var(--indigo);
  padding-right: 15px;
  width: 100%;
  
  
}



.bar{
  width: 2em;
  height: 0.2em;
  margin: 0.2em;
  background-color: var(--indigo) ;
}

.hamburger{
  display: none;
}

.list-item {
  list-style-type: none;
  
}

.box {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: var(--white);
  font-size: 1.1em;
  text-align: left;
  

 
}

.box:hover {
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}
.box:active {
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}

.box:focus {
  border: transparent;
}

.main-content {
  margin: 0 10px;
  padding: 0 50px;
}

section{
  margin: 30px 0;
}

section > h2 {
  margin: 0 10px;
  color: var(--indigo);
  padding-bottom: 20px;
  font-size: 30px;
}



.home-content {
  padding: 0 10px;
  padding-top: 20px;
  text-align: left;
}



.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  margin: 0 20px;
  padding: 0 20px;
  
}

.picture {
  padding-left: 0px;
}

.picture > img {
  align-items: center;
}

.info {
  font-size: 1.2em;
 
}

/*--------resume------------*/

.resume_ul {
  list-style-type: none;
}




.resume_li {
  position: relative;
  padding: 20px;
  
  border: 1px solid #ebe9fb;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-right: 20px;
}

.resume_li:hover {
  box-shadow: 0px 4px 15px 0px #d7d4f7;
  border: 1px solid transparent;
}

.card:hover {
  box-shadow: 0px 4px 15px 0px #d7d4f7;
  border: 1px solid transparent;
}

.card {
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-img-top {
  padding: 0 5px;
}

.card-title a {
  color: var(--indigo);
}

.accordion-item {
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 1;
}

.accordion-item:hover {
  box-shadow: 0px 4px 15px 0px #d7d4f7;
  border: 5px solid var(--indigo3);
  z-index: 1;
}

.accordion-item:active {
  z-index: 1;
}

.accordion-button:active {
  background-color: var(--indigo3);
}

.exp_ul {
  list-style-type: disc;
}

form{
  margin: 0 25%;
  cursor: pointer;
  transition: all 0.4s var(--indigo);
  margin-bottom: 20px;
  
}

form>div>label{
  color: #6357e0;
  font-weight: bold;
}



/*******---------------------------------*/


.social_media{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  
}

.logo :hover{
  border: 0.2em solid #6357e0;
  transform: translateY(-2px);
}

.logo :focus{
  border: 0.2em solid #6357e0;
  transform: translateY(-2px);
}



/*---------------media queries-------------*/
@media (max-width: 757px) {

  .main-content{
    margin: 0 10px;
    padding: 0 10px;
	
  }

  section> h2{
    font-size: 27px
  }

  .list-item>a{
    font-size: 1em;
  }
  
  .info {
    font-size: 1.2em;
    margin: 15px;
    padding: 0;
    padding-top: 10px;
    align-items: center;
    width: 100%;
}


  .picture>img{
    width: 250px;
    height: 250px;
  }
  .home-content>h3{
    font-size: 25px;
  }
  .home-content > p {
    font-size: 1.2em;
  }
  .logo>img{
    width: 35px;
    height: 35px;
  }
}
/*------mobile---------------------*/
@media (max-width: 415px) {

  .info{
    font-size: 1em;
  }

  section> h2{
    font-size: 22px;
  }

  .home-content>h3{
    font-size: 20px;
  }
  .home-content > p {
    font-size: 1em;
  }


  .hamburger{
    
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      border: none;
      
      padding: 10px;
}
  
  .ul_class{
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: var(--indigo);
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 0.3s;
  }

  
  
  .list-item{
    margin: 7px 0;
    
  }

  .ul_class.active{
    left: 0;
  }

 

  .logo>img{
    width: 25px;
    height: 25px;
  }

  
}

@media (max-width: 1023px) {
 .about-content{
  display: block;
 }

 .picture> img{
  display: block;
  margin: 0 auto;
 }

 .info{
  padding-top: 10px;
  margin-top: 10px;
 }
  
  

}