* {
  margin: 0;
  padding: 0;
  
  
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;
  --black: #080808;
  --indigo: #6357e0;
  --indigo3: #ebe9fb;
  --indigo2: #d7d4f7;
}
/*-----------------navbar---------------*/


.ul_class {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  background-color: var(--indigo);
  padding-right: 15px;
  width: 100%;
  z-index: 99999;
  
}

.bar {
  width: 30px;
  height: 3px;
  margin: 3px;
  background-color: var(--indigo);
}

.hamburger {
  display: none;
}

.list-item {
  list-style-type: none;
}

.box {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: var(--white);
  font-size: 1.1em;
  text-align: left;
}

.box:hover {
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}
.box:active {
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}

.box:focus {
  border: transparent;
}

/**-------------home-----------------*/

.main-content {
  margin: 0 10px;
  padding: 0 50px;
}

section {
  margin: 30px 0;
}

section > h2 {
  margin: 0 10px;
  color: var(--indigo);
  padding-bottom: 20px;
  font-size: 30px;
}

.home-content {
  padding: 0 20px;
  padding-top: 20px;
  text-align: left;
}

/*--------------about-------------*/

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  margin: 0 20px;
  padding: 0 20px;
}

.home-content > p {
  font-size: 1em;
}

.picture {
  padding-left: 0px;
  margin: auto;
}

.picture > img {
  align-items: center;
}

.info {
  font-size: 1.1em;
  
}

/*--------resume------------*/

.education,
.experience {
  padding: 0 20px;
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6,
.year {
  font-size: 18px;
}

.exp_li {
  font-size: 1em;
}

.accordion-button > span {
  padding-bottom: 2px;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 1px;
}

.resume_li {
  position: relative;
  padding: 20px;
  border: 1px solid var(--indigo3);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-right: 20px;
}

.resume_li:hover {
  box-shadow: 0px 4px 15px 0px var(--indigo2);
  border: 1px solid transparent;
}

.accordion-item {
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 1;
}

.accordion-item:hover {
  box-shadow: 0px 4px 15px 0px #d7d4f7;
  border: 5px solid var(--indigo3);
}

.accordion-button:active {
  background-color: var(--white);
}

.exp_ul {
  list-style-type: disc;
}

/*-----------------Project--------------------*/
.container {
  padding: 0 20px;
}

.card-text {
  font-size: 1em;
}

.card:hover {
  box-shadow: 0px 4px 15px 0px var(--indigo2);
  border: 1px solid transparent;
}

.card {
  border: 1px solid var(--indigo3);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-img-top {
  padding: 0 5px;
  align-items: center;
  margin: auto;
}

.card-body > h5 {
  color: var(--indigo);
}

.card-body > a {
  background-color: var(--indigo);
}
.card-body > a:hover {
  background-color: var(--indigo3);
  color: black;
}

.card-img-top {
  object-fit: cover;
  height: 150px;
  width: 250px;
}

.card-body > a:active {
  background-color: var(--indigo3);
  color: black;
}

.card-body > a:focus {
  background-color: var(--indigo3);
  color: black;
}

.card-body > a:active {
  background-color: var(--indigo3);
  color: black;
}

/*--------------------Form-----*/

form {
  margin: 0 15%;
  cursor: pointer;
  transition: all 0.4s var(--indigo);
  margin-bottom: 20px;
}

.form-group > label {
  color: #6357e0;
  font-size: 18px;
}

.btn-form > .btn-primary:hover {
  background-color: var(--indigo3);
  color: black;
}

.btn-form > .btn-primary:focus {
  background-color: var(--indigo3);
  color: black;
}

.btn-form > .btn-primary:active {
  background-color: var(--indigo3);
  color: black;
}

.btn-form > .btn-primary {
  background-color: var(--indigo);
}

.btn-form > .btn-secondary {
  background-color: var(--gray2);
}

.btn-form > .btn-secondary:hover {
  background-color: var(--gray3);
  color: var(--black);
}

.btn-form > .btn-secondary:focus {
  background-color: var(--gray3);
  color: var(--black);
}

.btn-form > .btn-secondary:active {
  background-color: var(--gray3);
  color: var(--black);
}

/*******---footer------------------------------*/
footer {
  margin: 0 20px 20px 0;
}

.social_media {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.logo :hover {
  border: 0.2em solid #6357e0;
  transform: translateY(-2px);
}

.logo :focus {
  border: 0.2em solid #6357e0;
  transform: translateY(-2px);
}

/*---------------media queries-------------*/
@media (max-width: 757px) {
  .main-content {
    margin: 0 10px;
    padding: 0 10px;
  }

  section > h2 {
    font-size: 27px;
  }

  .box {
    font-size: 1em;
  }

  .info {
    font-size: 1em;
    margin: 15px;
    padding: 0;
    padding-top: 10px;
    align-items: center;
    width: 100%;
  }

  .picture > img {
    width: 250px;
    height: 250px;
  }
  h3 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6,
  .year {
    font-size: 16px;
  }

  .home-content > p {
    font-size: 0.9em;
  }
  .logo > img {
    width: 35px;
    height: 35px;
  }

  .one {
    font-size: 1, 25rem;
  }

  .two {
    font-size: 15px;
  }

  .three {
    font-size: 15px;
  }

  .accordion-button > span {
    font-size: 18px;
  }

  .exp_li {
    font-size: 0.9em;
  }

  .card-text {
    font-size: 0.9;
  }

  .btn {
    font-size: 0.9em;
  }

  form {
    margin: 0 15%;
  }

  .form-group > label {
    font-size: 16px;
  }
}
/*------mobile---------------------*/
@media (max-width: 415px) {
  .info {
    font-size: 1em;
  }

  section > h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
  .one {
    font-size: 16px;
  }

  .two {
    font-size: 14px;
  }

  .three {
    font-size: 14px;
  }

  h5 {
    font-size: 16px;
  }

  h6,
  .year {
    font-size: 14px;
  }

  .home-content > p {
    font-size: 0.9em;
  }

  .hamburger {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: none;
    padding: 10px;
  }

  .ul_class {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: var(--indigo);
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 0.3s;
  }

  .list-item {
    margin: 7px 0;
  }

  .info {
    font-size: 0.9em;
  }

  .accordion-button > span {
    font-size: 16px;
  }

  .ul_class.active {
    left: 0;
  }

  .exp_li {
    font-size: 0.9em;
  }

  .card-text {
    font-size: 0.9em;
  }

  .btn {
    font-size: 0.8em;
  }

  .logo > img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 1023px) {
  .about-content {
    display: block;
  }

  .picture > img {
    display: block;
    margin: 0 auto;
  }

  .info {
    padding-top: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .container {
    justify-content: center;
  }
  .card {
    max-width: 300px;
    margin: auto;
  }

  .card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
}
